

p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}




hr{
    color: aliceblue;
    border-top: 0ch;
   
    
    width: 280px;

}